* {
  font-family: "Poppins", sans-serif;
}
.element {
  width: 1244px;
  height: 720px;
}
.navigation {
  padding-top: 10px;
}
#nav-title {
  font-weight: bold;
}
#nav-sub3 {
  font-weight: bold;
}
.nav-radius3 {
  display: flex;
  padding-left: 590px;
  padding-top: 2px;
}
#submit1 {
  font-size: 12px;
  width: 75px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #ea4c89;
  background-color: #ea4c89;
  color: white;
}
.frame1 {
  padding-top: 62px;
  padding-left: 68px;
}
.text-frame1 {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 5px;
}
.live-frame {
  position: relative;
  width: 1100px;
  height: 463px;
}
.live-frame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 10%;
  z-index: -1;
  border: 1px solid #6e6d7a;
  background-color: #6e6d7a;
}
.live-textframe {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 15px;
  opacity: 50%;
}

.live-before {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}
