* {
  font-family: "Poppins", sans-serif;
}
.element {
  width: 1244px;
  height: 720px;
}
.navigation {
  padding-top: 10px;
}
#nav-title {
  font-weight: bold;
}
#nav-sub2 {
  font-weight: bold;
}
.nav-radius3 {
  display: flex;
  padding-left: 590px;
  padding-top: 2px;
}
#submit3 {
  font-size: 12px;
  width: 75px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #ea4c89;
  background-color: #ea4c89;
  color: white;
}
.text-frame1 {
  padding-top: 30px;
  padding-left: 60px;
  font-size: 40px;
}
.frame2 {
  display: flex;
}
.btn {
  margin-left: 60px;
  border: 1px solid black;
  font-size: 12px;
}
.dropdown-menu {
  font-size: 10px;
}
.frame3 {
  display: flex;
  padding-left: 60px;
}
.text-frame2 {
  border: 1px solid gray;
  background-color: gray;
  border-radius: 5px;
  width: 850px;
  opacity: 0.5;
}
input {
  padding-left: 10px;
}
input::placeholder {
  color: black;
  font-size: 15px;
}
.icon {
  display: flex;
  padding-left: 5px;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-left: -30px;
  z-index: 1;
  cursor: pointer;
}
.frame4 {
  display: flex;
  margin-left: 60px;
  margin-top: 20px;
  width: 855px;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.text-frame3 {
  width: 100%;
  height: 100%;
}
.text-1 {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
  text-align: left;
  vertical-align: top;
  overflow: auto;
}
.frame5 {
  display: flex;
  padding-top: 30px;
  padding-left: 60px;
}
.submit1 {
  width: 160px;
  height: 40px;
  border: 1px solid rgba(16, 131, 238, 0.2);
  background-color: rgba(16, 131, 238, 0.2);
  border-radius: 8px;
  color: black;
  font-size: 15px;
}
.backbtn {
  width: 160px;
  height: 40px;
  border: 1px solid rgba(237, 237, 237, 1);
  background-color: rgba(237, 237, 237, 1);
  border-radius: 8px;
  color: black;
  font-size: 15px;
  margin-left: 40px;
}
